.button{
	backgroundColor: "white";
	padding: 100px 80px;
	border-radius: 10px;
	text-decoration: none;
	border: 2px solid black;
	display: inline-block;
}

#red { background-color: red; }
#blue { background-color: blue; }
#yellow { background-color: yellow; }
#purple { background-color: purple; }
#white { background-color: white; }
#black { background-color: black; 
	   border: 2px solid white;
	   }
